* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  
}

a {
    text-decoration: none;
    color: #3a3a3a;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

width: 193px;
height: 40px;
background: #C4C4C4;
border-radius: 21px;
}

.header {
  /* padding: 20px 80px; */
  background: #ffffff;
  box-shadow: inset 0px -1px 0px rgba(66, 66, 66, 0.4);
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
}

.nav-items {
  display: flex;
  position: relative;
  padding-left: 0;
  padding-bottom: 6px;
  margin: 0;
  list-style: none;
  font-size: 24px;
  line-height: 29px;
  color: #353535;
  padding-left: 40px;
}

.nav-items:first-of-type {
  padding-left: 0;
}

.fa {
  width: 13px;
  height: 6.5px;
  padding-left: 9px;
}

.mod {
  position: absolute;
  display: none;
  top calc(100% - 5px);
  background: #ffffff;
  border: 1px solid rgba(66, 66, 66, 0.4);
  border-radius: 4px;
  list-style: none;
  padding: 16px 24px;
  min-width: 229px;
  font-size: 24px;
  line-height: 29px;
  color: #3a3a3a;
}

.el-podmenu {
    margin: 16px 0;
}
.mod-about {
  top: 36px;
}
.mod-serv {
  top: 36px;
}
.mod-contact {
  top: 36px;
}
.about:hover .mod-about {
  display: block;
}

.services:hover .mod-serv {
  display: block;
}

.contact:hover .mod-contact {
  display: block;
}
